html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}

.container {
  position: fixed;
  top: 0;
  right: 10px;
}

#colorMap,
#scale {
  width: 100px;
  resize: none;
}

#colorMap {
  height: 200px;
}
